#container{
    display: flex;
    position: sticky;
    background-color: rgb(165, 162, 162);
    padding: 20px 30px;
    margin-bottom: 20px;
    color: white;
    #links{
        flex-grow: 1;
        display: flex;
        gap: 20px;
        justify-content: right;
    }
}
body {
    margin: 0px
}
#item-id{
    padding: 0px 10px;
}