.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  background-color: #fff; /* Light gray background */
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px; /* Space between links */
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}
.nav-links a:hover {
  color: #96b3b2; /* Change to your desired hover color */
}

.nav-side-bar{
    display: flex;
    gap: 20px; /* Space between links */
}