body {
    background-color: rgb(244, 233, 220);
}
.container {
  padding: 24px 32px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
}
.page-center {
  display: flex;
  justify-content: center;  /* horizontal center */
  align-items: center;      /* vertical center */
  height: 100vh;            /* full viewport height */
}
.login-center{
    display: flex;
    justify-content: center; 
    // padding-top: 30px;
}

.text-align{
    // box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    padding: 5px 20px;
}
.form-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;          /* space between stacked children */
}
.button-align{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}