.app-container{
    width: 200px;
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.div-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
}