<div class="app-container" [formGroup]="userData">
    <div>
        <h3>Profile Picture</h3>
    </div>
    <div class="div-container">
        <label>Username</label>
        @if (editMode){
            <input type="text" formControlName="username" >
        }@else{
            <span > {{ username.value }}</span>
        }
    </div>

    <div class="div-container">
        <label>Email Id</label>
        @if(editMode){
        <input type="email" formControlName="email" >
        }@else {
            <span> {{ email.value }}</span>
        }
    </div>
    <div class="div-container">
        <label>Mobile No:</label>
        @if (editMode) {
            <input type="text" formControlName="mobile">
        }@else{
            <span > {{ mobile.value }}</span>
        } 
    </div>

    <div>
        <button (click)="toggleEditMode()" [disabled]="editMode">Edit Profile</button>
        <button (click)="toggleEditMode()" [disabled]="!editMode">Submit</button>
    </div>
</div>