.header-container{
    display: flex;
    background-color: #01070d00; /* Light gray background */
}

.headers{
    display: flex ;
    justify-content: space-between; 
    // margin: 25px 100px 25px 100px;
}

.headers a {
  color: inherit;
  text-decoration: none;
  font-size: large;
}

.headers a:hover {
  color: #96b3b2; /* Change to your desired hover color */
}